<body>
    <div id="wrapper">
      <h1>Reuters</h1>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/scraper.js"></script>
  </body>