
        <nav>
            <div class="nav-wrapper teal darken-4 z-depth-4">
                <a href="#!" class="brand-logo"> &nbsp;Reuters</a>
                <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="saved">My Saved Articles</a></li>
                        <li><a class="scrape" href="">Get New Articles</a></li>
                        <li><a class="delete" href="">Delete Unsaved Articles</a></li>
                    </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="saved">My Saved Articles</a></li>
            <li><a class="scrape" href="">Get New Articles</a></li>
            <li><a class="delete" href="">Delete Unsaved Articles</a></li>
        </ul>
    <br>
    <h5 class="red-text darken-4 center">Click "Get New Articles" for New Content</h5><br/>
<div id="articles"></div>