
        <nav>
            <div class="nav-wrapper teal darken-4 z-depth-4">
                <a href="#!" class="brand-logo"> &nbsp;Reuters</a>
                <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                    </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
        </ul>



<h4 class="teal-text darken-4 center">Saved Articles</h4>
<br/>
<div id="articlesaved"></div>