<nav>
  <div class="nav-wrapper teal darken-4 z-depth-4">
    <a href="#!" class="brand-logo"> &nbsp;Reuters</a>
    <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
</ul>
<h4 class="teal-text darken-4 center">Saved Articles</h4>
<br />
<div id="articlesaved"></div>


  <!-- Modal Structure -->
  <div id="nm" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div id="notes"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close teal darken-4 white-text btn-flat">Close</a>
    </div>
  </div>

    <!-- Modal Structure -->
  <div id="nlm" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5><b>Manage Article Notes</b></h5>
      <hr>
      <div id="noteslist"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close teal darken-4 white-text btn-flat">Close</a>
    </div>
  </div>
          
          